name: CICD using Maven and Jenkins

on:
  workflow_dispatch: 
  push:
    branches:
      - master

jobs:
  CICDJob:
    name: Build and Deploy
    runs-on: ubuntu-22.04

    steps:
      # Step 1: Checkout the source code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # Step 3: Build the project using Maven
      - name: Build with Maven
        run: mvn clean package -DskipTests

      # Step 4: Upload the build artifact to GitHub
      - name: Upload artifact to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: target/*.war

      # Step 5: Deploy the artifact to the remote server using SSH
      - name: connect to LAB and deploy code on tomcat9 via jenkins
        env:
          HOST: ${{ secrets.SSH_HOST }}
          USER: ${{ secrets.SSH_USER }}
          PASS: ${{ secrets.SSH_PASS }}
        with: 
          connect_timeout: 10s
        run: |        
          sudo curl -l -u admin:114dcc534b182442f0a796c1e90fd9bc61 http://localhost:8080/job/DeploymentJob/build?token=token22
    
